body {
  margin: 0;
  padding: 0; 
}
 
header {
  background-color: #39434f;
  font-size: 42px;
  color: #eeeeee;
  letter-spacing: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px 0;
}

header h1 { 
  font-size: inherit;
  color:inherit;
  font-weight: 400;
  margin: 0;
} 
header h2 { 
  font-size: 36px;
  color:inherit;
  font-weight: 400;
  margin: 0;
}
header .spilt_line {
  position: relative; 
  width: 32%;
  border-top: 3px solid #eeeeee;
}
.left_dot, .right_dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #eeeeee;
  top: -6px;
}
.right_dot {
  right: 0;
}
@media screen and (max-width: 767px) { 
  header h1, header h2 {  
    font-size: 26px;
  }  
  header .spilt_line {
    width: 80%;
  } 
}
aside, main .right {
  border: 0px solid blue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #39434f;
}
main {
  background-color: #eeeeee;
  display: flex;
}
main>aside { 
  overflow: hidden;
  flex: 1;

  height: 100%;
  border: 0px solid green;
  position: relative;
  margin: 0px;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #d4d3d5;
}

main>.right {
  flex: 3;
  border: 0px solid blue;
  padding: 3% 2%;
  background-color: #eeeeee;
}
aside>.block{
  margin: 20px 0;
}
@media screen and (max-width: 767px) { 
  main {
    flex-direction: column;
  }
  aside>.block{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  aside>.photo{
    padding: 0;
  }
  aside>.block>h1{
    /* border: 2px solid red; */
    text-align: center;
  }
   
}
 
aside .info_item{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

aside .list_title {
  font-size: 24px;
  border-bottom: 2px solid #39434f;
}

aside .bar_l {
  display: inline-block;
  position: relative;
}

aside .bar_r {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

aside .bar_r .bar_level_desc {
  font-size: 14px;
  position: relative;
  display: inline-block;
  text-align: right;
  width: 50px;
}

aside .bar_r .bar_pic_border {
  position: relative;
  height: 18px;
  width: 200px;
  border: 1px solid #39434f;
}

aside .bar_r .bar_pic_border .dashline1 {
  position: absolute;
  border-right: 1px dashed #39434f;
  width: 50px;
  height: 18px;
}

aside .bar_r .bar_pic_border .dashline2 {
  position: absolute;
  border-right: 1px dashed #39434f;
  width: 100px;
  height: 18px;
}

aside .bar_r .bar_pic_border .dashline3 {
  position: absolute;
  border-right: 1px dashed #39434f;
  width: 150px;
  height: 18px;
}

aside .bar_r .bar_pic_border .bar_pic_level {
  position: relative;
  height: 18px;
  width: 50px;
  background-color: #39434f;
}

aside .bar_r .bar_pic_border .level_1 {
  width: 50px;
}

aside .bar_r .bar_pic_border .level_2 {
  width: 100px;
}

aside .bar_r .bar_pic_border .level_3 {
  width: 150px;
}

aside .bar_r .bar_pic_border .level_4 {
  width: 200px;
}

aside .photo {
  position: relative;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 20px; 
  background-color: #7592b4; 
  overflow: hidden;
}

aside .photo img { 
  width: 100%; 
} 

main .right .rect_title {
  position: relative;
  height: 50px;
  background-color: #39434f;
  color: #ffffff;
  font-size: 28px;
  padding: 5px;
  text-align: center;
  line-height: 50px;
}

main .right .time_line_title {
  left: 21%;
  display: inline-block;
  position: relative;
  font-size: 24px;
}

main .right .time_line_date {
  display: inline-block;
  position: absolute;
  float: right;
  font-size: 16px;
  padding-top: 10px;
}

main .right .time_line {
  width: 79%;
  left: 21%;
  position: relative;
  border-left: 4px solid #395c6b;
  top: -5px;
  margin-bottom: -18px;
  padding-bottom: 40px;
}
main .right .flex_date{
  display: flex;
} 
@media screen and (max-width: 767px) { 
  main .right .time_line_date { 
    font-size: 12px;
  }
  main .right .flex_date{
    flex-direction: column;
  }
  main .right .flex_date>div{
    text-align: center;
  }
}
main .right .time_line .pad26 {
  padding-left: 26px;
}

main .right .time_line .pad40 {
  padding-left: 40px;
}

main .right .hexgon {
  left: 21%;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  -webkit-transform: translateX(-43%);
          transform: translateX(-43%);
}

main .right .hexgon .st0 {
  fill: #395c6b;
}

main .right .hexgon .st1 {
  fill: #d4cb92;
}

footer {
  position: relative;
  height: 75px; 
  background-color: #39434f;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.icon path {
  fill: #39434f;
}

.intr_content {
  display: inline-block;
  vertical-align: top;
}

#mobile .st0 {
  fill: #39434f;
}

#mobile .st1 {
  fill: #d4d3d5;
}


.ability_l, .ability_r {
  vertical-align: middle;
  position: relative;
  display: inline-block;
}

.ability_l {
  width: 55%;
  font-size: 15px;
}

.ability_r {
  width: 40%;
}

#arrow {
  width: 30px;
  height: 30px;
}

#arrow .st0 {
  fill: #39434f;
}

#arrow .st1 {
  fill: #d4d3d5;
}
.my_intro{
  font-size: 20px;
  padding: 15px 0;
}
@media screen and (max-width: 767px) { 
  .my_intro{
    padding: 15px 5px;
  }
}